#App {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* containers */
#containerPrincipal {
    margin: 0 auto;
    max-width: 1150px;
    padding: 30px;
}

#containerInicio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 40vw;
    padding: 30px;
    text-align: center;
    margin-top: 10vh;
}

#containerInicio a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.botaoInicio {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #c3e3fb;
    border-radius: 15px;
    padding: 10px;
}

.botaoInicio a:hover {
    color: #7295b0;
}

.iconeGithub {
    margin-top: 5px;
}

.iconeGithub a:hover {
    color: grey;
}


#containerPrincipal Link {
    text-decoration: none;
}

#containerSobre {
    padding: 20px;
    margin: 0 auto;
    max-width: 1150px;
    border: 2px solid #b4d3eb;
    border-radius: 20px;
    margin-top: 20px;
}

/* estilos da tarefa na página principal */
#tarefaContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #b4d3eb;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

#tituloTarefa {
    font-weight: 600;
}

span {
    font-weight: 500;
    color: white;
}

/* elementos de input */
label {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

select {
    width: 80%;
    border: 2px solid #b4d3eb;
    padding: 8px;
    border-radius: 20px;
}

select option:hover {
    background-color: transparent;
}

#camposTarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

#camposTarefa input, textarea {
    border: 2px solid #b4d3eb;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

textarea {
    resize: none;
}


/* botões e ícones */
button {
    margin-right: 10px;
    background-color: #c3e3fb;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: #b4d3eb;
    cursor: pointer;
}

.botoes {
    display: inline;
}

.btn-criar-tarefa {
    padding: 10px;
}

.icone {
    padding: 5px;
}

.iconeDeletar {
    color: red;
    font-size: 1.6em;
}

.iconeEditar {
    color: blue;
    font-size: 1.4em;
}

.icone:hover {
    cursor: pointer;
}

nav {
    padding: 0;
    margin: 0 auto;
    display: flex;

}

/* fontes */
.msgVazia {
    text-align: center;
    color: rgb(145, 145, 145);
}


h1 {
    font-size: 1.5rem;
}

h2 {
    color: white;
}
/* elementos de lista */

ul {
    list-style: none;
    max-width: 1150px;
}

ul li {
    display: inline-block;
}

ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
}